@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  position: revert;
  margin: 51px 0 130px 0;
}
.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__svg1 {
  width: 15px;
  height: 15px;
}
.header__cart {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
.header__a1 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400px;
  font-size: 15px;
  line-height: 21px;
}
.header__a1_active {
  color: cornflowerblue;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__h2 {
  margin: 0 67px 0 16px;
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400px;
  font-size: 15px;
  line-height: 140%;
}
.header__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 26px;
  margin-top: 193px;
}
.header__shopglav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
}
.header__h3 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 55px;
  line-height: 110%;
}
.header__h4 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 140%;
}
.header__h5 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 140%;
  color: #919191;
}

.birka__img {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 25%;
  -webkit-animation: arsen 5s infinite;
          animation: arsen 5s infinite;
  -webkit-transition: 10s;
  transition: 10s;
}

@-webkit-keyframes arsen {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  25% {
    -webkit-transform: rotatey(50deg);
            transform: rotatey(50deg);
  }
  50% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
  }
  75% {
    -webkit-transform: rotatey(50deg);
            transform: rotatey(50deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes arsen {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  25% {
    -webkit-transform: rotatey(50deg);
            transform: rotatey(50deg);
  }
  50% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
  }
  75% {
    -webkit-transform: rotatey(50deg);
            transform: rotatey(50deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
.cards__btn-filter {
  margin-left: 10px;
  padding: 19px 65px;
  background: white;
}
.cards__btn-filter:hover {
  background: black;
  color: white;
}
.cards__btn-filter_active {
  background: black;
  color: white;
}
.cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 181px;
}
.cards__card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 65px;
}
.cards__card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 65px;
}
.cards__img1 {
  height: 478px;
  width: 350px;
}
.cards__card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
}
.cards__card1:hover {
  border: 2px solid black;
}
.cards__h2 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: 500px;
  font-weight: 20px;
  font-size: 28px;
  line-height: 60px;
  margin-top: 21px;
}
.cards__p1 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: 500px;
  font-weight: 15px;
  font-size: 21px;
  line-height: 60px;
  margin-top: 7px;
}
.cards__h3 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 140%;
  color: #919191;
  margin-top: 65px;
}
.cards__btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  margin-bottom: 130px;
}
.cards__btn {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 24px;
  padding: 9px 16.5px;
  background: transparent;
}
.cards__btn:hover {
  background: black;
  color: white;
}
.cards__btn_active {
  background: black;
  color: white;
}
.cards__arrow {
  width: 21px;
  height: 11px;
}

footer {
  background: #F1EADC;
}