@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1110px;
  margin: 0 auto;
}
@mixin Raleway ($family: Raleway ,$style : normal  ,$weight : 500 ,$size: 55px ,$height : 60px ) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
@mixin FamilyRaleway{
  font-family: 'Raleway',sans-serif;
}
.header{
  position: revert;
  margin: 51px 0 130px 0 ;
  .header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__svg1{
    width: 15px;
    height: 15px;
  }
  &__cart{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
  }
  &__a{
    display: flex;
    column-gap: 45px ;
  }
  &__a1{
    @include FamilyRaleway;
    @include Raleway(Raleway ,normal ,400px ,15px ,21px);
    &_active{
      color: cornflowerblue;
    }
  }
  &__phone{
    display: flex;
  }
  &__h2{
    margin: 0 67px 0  16px;
    @include FamilyRaleway;
    @include Raleway(Raleway ,normal,400px ,15px ,140%)

  }
  &__shop{
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    margin-top: 193px;
  }
  &__shopglav{
    display: flex;
    column-gap: 13px;
  }
  &__h3{
    @include FamilyRaleway;
    @include Raleway(Raleway ,normal,500px ,55px ,110%)
  }
  &__h4{
    @include FamilyRaleway;
    @include Raleway(Raleway ,normal,500px ,17px ,140%)
  }
  &__h5{
    @include FamilyRaleway;
    @include Raleway(Raleway ,normal,500px ,17px ,140%);
    color:  #919191;
  }

}
.cards__row{
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 181px;
  &__btn-filter{
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    padding: 19px 65px;
    background: white;
    &:hover{
      background: black;
      color: white;
    }
    &_active{
      background: black;
      color: white;
    }
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    width: 350px;
    overflow: hidden;
    &__img{
      object-fit: cover;
      height: 478px;
      width: 348px;
      transition: transform 2s;

      &:hover{
        transform: scale(1.1);
      }
    }
    &:hover{

      border: 2px solid black;
    }

  }
  &__h{
    @include FamilyRaleway;
    @include Raleway(Raleway ,500px ,20px ,28px);
    margin-top: 21px;
  }
  &__p{
    @include FamilyRaleway;
    @include Raleway(Raleway ,500px ,15px ,21px);
    color: #998E78;
    margin-top: 7px;
  }

  &__arrow{
    width: 21px;
    height: 11px;
  }
  &__a{

    color: black;
  }
}
footer{
  background: #F1EADC;
}
.cards__pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  margin-top: 154px;
}
.cards__page{
  @include FamilyRaleway;
  @include Raleway(Raleway ,normal,500px ,17px ,24px);
  padding: 9px 16.5px;
  background: transparent;
  &:hover{
    background: black;
    color: white;
  }
  &_active{
    background: black;
    color: white;
  }
}


//@include FamilyRaleway;
//@include Raleway(Raleway ,400px ,15px ,21px)