@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  position: revert;
  margin: 51px 0 130px 0;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__svg1 {
  width: 15px;
  height: 15px;
}
.header__cart {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.header__a {
  display: flex;
  column-gap: 45px;
}
.header__a1 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400px;
  font-size: 15px;
  line-height: 21px;
}
.header__a1_active {
  color: cornflowerblue;
}
.header__phone {
  display: flex;
}
.header__h2 {
  margin: 0 67px 0 16px;
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400px;
  font-size: 15px;
  line-height: 140%;
}
.header__shop {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  margin-top: 193px;
}
.header__shopglav {
  display: flex;
  column-gap: 13px;
}
.header__h3 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 55px;
  line-height: 110%;
}
.header__h4 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 140%;
}
.header__h5 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 140%;
  color: #919191;
}

.birka__img {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 25%;
  animation: arsen 5s infinite;
  transition: 10s;
}

@keyframes arsen {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotatey(50deg);
  }
  50% {
    transform: rotateX(-30deg);
  }
  75% {
    transform: rotatey(50deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.cards__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 181px;
}
.cards__row__a {
  color: black;
}
.cards__row__btn-filter {
  margin-left: 10px;
  padding: 19px 65px;
  background: white;
}
.cards__row__btn-filter:hover {
  background: black;
  color: white;
}
.cards__row__btn-filter_active {
  background: black;
  color: white;
}
.cards__row__img {
  height: 200px;
  width: 300px;
}
.cards__row__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  width: 300px;
  height: 400px;
}
.cards__row__card:hover {
  border: 2px solid black;
}
.cards__row__h {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: 500px;
  font-weight: 20px;
  font-size: 28px;
  line-height: 60px;
  margin-top: 21px;
}
.cards__row__p {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: 500px;
  font-weight: 15px;
  font-size: 21px;
  line-height: 60px;
  margin-top: 7px;
}
.cards__row__h3 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 140%;
  color: #919191;
  margin-top: 65px;
}
.cards__row__btn_list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  margin-bottom: 130px;
}
.cards__row__btn {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500px;
  font-size: 17px;
  line-height: 24px;
  padding: 9px 16.5px;
  background: transparent;
}
.cards__row__btn:hover {
  background: black;
  color: white;
}
.cards__row__btn_active {
  background: black;
  color: white;
}
.cards__row__arrow {
  width: 21px;
  height: 11px;
}

footer {
  background: #F1EADC;
}

/*# sourceMappingURL=style.css.map */
